body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color:aqua;
    color: rgb(50, 50, 50);
}
nav {
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 2vh;
    text-decoration: none;
}
main {
    padding-top: 2%;
    margin: 1%;
}

main img {
    max-width: 200px;
    border-radius: 10px;
    
}
main ul {
    list-style-type: none;
}
main section img {
    max-width: 500px;
    border-radius: 10px;
}

